#banner {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #222;
	padding: 0px 20px 0px 20px;
	.inner {
		width: 100%;
		overflow: hidden;
		padding: 50px;
		display: flex;
		.panner,
		.panner2 {
			display: flex;
			gap: 20px;
			padding: 10px;
			li {
				width: 200px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		.panner {
			animation: rolling_1 60s linear infinite;
			// background-color: red;
		}
		.panner2 {
			animation: rolling_2 60s linear infinite;
			// background-color: blue;
		}
	}
}
@keyframes rolling_1 {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-100%);
	}
	50.01% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes rolling_2 {
	0% {
		transition: translateX(0%);
	}
	100% {
		transform: translateX(-200%);
	}
}
